@import '../../styles/variables.scss';

.list {
    margin: 0 auto;
    width: 80%;
    padding-left: 0;
  
  &_head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 700;
  }

  &_en {
    height: 4rem;
    flex-basis: calc(0.81/3*100%);
    @extend %table-cell;
    @extend %flex-center;
  }

  &_tr {
    height: 4rem;
    flex-basis: calc(0.81/3*100%);
    @extend %table-cell;
    @extend %flex-center;
  }

  &_ru {
    height: 4rem;
    flex-basis: calc(0.81/3*100%);
    @extend %table-cell;
    @extend %flex-center;
  }

  &_empty {
    height: 4rem;
    flex-basis: 19%;
    @extend %table-cell;
    @extend %flex-center;

    .imgAdd{
      max-width: 25%;
      max-height: 80%;
      margin: 3% 0;
    }
    
    .button_addNew {
      display: flex;
      flex-direction: column;
      align-items: center;
      @extend %buttons-style;
      @extend %table-cell;
      width: 50%;
      margin-left: 5%;
      font-size: 85%;
      font-weight: 700;
    }
  }
}