@import '../../styles/variables.scss';

.list {
    margin: 0 auto;
    width: 80%;
    padding-left: 0;
  
  &_head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 700;
  }

  &_en {
    height: 2rem;
    flex-basis: calc(0.81/3*100%);
    @extend %table-cell;
    @extend %flex-center;
  }

  &_tr {
    height: 2rem;
    flex-basis: calc(0.81/3*100%);
    @extend %table-cell;
    @extend %flex-center;
  }

  &_ru {
    height: 2rem;
    flex-basis: calc(0.81/3*100%);
    @extend %table-cell;
    @extend %flex-center;
  }

  &_empty {
    height: 2rem;
    flex-basis: 19%;
    @extend %table-cell;
    @extend %flex-center;
  }
}

.line {

  &_word{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &_input{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.buttons {
  width: 19%;
  padding-top: 1%;
  padding-bottom: 1%;
  @extend %table-cell;
  @extend %flex-center;
}



.button_save {
  margin-right: 5%;
  @extend %buttons-table;
  @extend %buttons-style;
  background-image: url('../../src/assets/icons8-check.png');
}

.button_back {
  margin-right: 5%;
  @extend %buttons-table;
  @extend %buttons-style;
  background-image: url('../../src/assets/icons8-back.png');
}


.button_edit {
  @extend %buttons-table;
  @extend %buttons-style;
  background-image: url('../../src/assets/icons8-edit.png');
}

.button_delete {
  margin-left: 5%;
  @extend %buttons-table;
  @extend %buttons-style;
  background-image: url('../../src/assets/icons8-delete.png');
}

.button_close {

  @extend %buttons-table;
  @extend %buttons-style;
  background-image: url('../../src/assets/icons8-close.png');
}
