$font-stack: Inter, system-ui, Avenir, Helvetica, sans-serif;
//4538
$beige-color: #EDE1CF;
$brown-color: #D9C5BC;
$gray-color: #B6ADAF;
$light-green-color: #76A1A7;
$green-color: #107980;

%buttons-style {
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

%buttons-table {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

%table-cell {
  color: $green-color;
  border: solid 2px $brown-color;
  background-color: $beige-color;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%enter-cell {
  border: solid 2px $brown-color;
  background-color: $light-green-color;
  ;
}
