@import '../../styles/variables.scss';

.button_checkWord {
  margin: 0 auto;
  width: 60%;
  height: 2rem;
  @extend %flex-center;
  @extend %buttons-style;
  background-color: $beige-color;
  color: $light-green-color;
  font-weight: 600;
}

.word_body {
  margin-bottom: 30%;
}

.word_container {
    width: 100%;
    background-color: $brown-color;
    color: $green-color;
    border-radius: 8px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.translation {
  margin-bottom: 2%;
}