@import '../../styles/variables.scss';

.card_container {
  display: flex;

  .card {
    width: 25%;
    margin: 10% 3%;
  }

  .previous {
    height: 3.5rem;
    width: 3.5rem;
    margin-left: auto;
    align-self: center;
    @extend %buttons-table;
    @extend %buttons-style;
    @extend %flex-center;
    background-color: $light-green-color;
    background-image: url('../../src/assets/icons8-previous.png');
  }

  .next {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: auto;
    align-self: center;
    @extend %buttons-table;
    @extend %buttons-style;
    @extend %flex-center;
    background-color: $light-green-color;
    background-image: url('../../src/assets/icons8-next.png');
  }

  .button{
    &:hover{
      border: solid 2px $brown-color;
      color: $green-color;
      }
      &:active{
        background-color: $beige-color;
      }
  }
}

